<body>
    <div class="container mt-3">
        <div class="row justify-content-md-center ">
            <div class="col-md-6 bg-form">
                <h1 style="margin-top: 10px;">Form</h1>
                <hr>
                <div class="mt-3">
                    <form action="" [formGroup]="form" (ngSubmit)="submit()">
                        <div class="mb-3">
                            <label for="fname" class="form-label">Firstname:</label>
                            <input type="text" class="form-control" formControlName="fname" [(ngModel)]="fname" required>
                        </div>
                        <!-- [(ngModel)]="fname" -->
                        <div class="mb-3">
                            <label for="lname" class="form-label">Lastname:</label>
                            <input type="text" class="form-control" formControlName="lname" [(ngModel)]="lname" required>
                        </div>
                        <div class="mb-3">
                            <label for="age" class="form-label">Age:</label>
                            <input type="number" min="1" name="" id="" class="form-control" formControlName="age" [(ngModel)]="age" required>
                        </div>
                        <div class="mb-3">
                            <label for="year" class="form-label">Year:</label>
                            <select name="" id="" class="form-control" formControlName="year" [(ngModel)]="year" requireds>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="university" class="form-label">University:</label>
                            <input type="text" class="form-control" formControlName="university" [(ngModel)]="university" required>
                        </div>
                        <div class="mb-3">
                            <label for="linkfb" class="form-label">LinkFacebook:</label>
                            <input type="text" class="form-control" formControlName="linkfb" [(ngModel)]="linkfb">
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success mt-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>