<div class="modal-header">
    <h4 class="modal-title">แจ้งเตือน</h4>
</div>
<div class="modal-body">
    <p>{{subtitle}}!</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="activeModal.close()">Close</button>
</div>