.position-data {
    left: 50%;
    position: relative;
}

body {
    background: lightblue;
}

.bg-form {
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px grey;
}

.position-img {
    float: left;
    left: 10%;
    top: 30%;
    position: absolute;
}