<body>
    <div class="container mt-3">
        <div class="row justify-content-md-center">
            <div class="col-md-6 bg-form">
                <h1 style="margin-top: 10px;">Your Profile</h1>
                <hr>
                <div class="mt-3">
                    <div class="position">
                        <div class="mb-3 position-img">
                            <label for="img" class="form-label">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/768px-Circle-icons-profile.svg.png"
                                    alt="" width="150" height="150">
                            </label>
                        </div>
                        <div class="position-data">
                            <div class="mb-3">
                                <label for="name" class="form-group">
                                    Name: {{fname}} {{lname}}
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="age" class="form-label">
                                    Age: {{age}}
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="year" class="form-label">
                                    Year: {{year}}
                                </label>
                            </div>
                            <div class="mb-3">
                                <label for="university" class="form-label">
                                    University: {{university}}
                                </label>
                            </div>
                            <div class="mb-3" *ngIf="linkfb">
                                <label for="linkfb" class="form-label">
                                    <a href="{{linkfb}}" target="_blank">
                                        <img src="https://www.innoherb.com/wp-content/uploads/2019/02/icon-facebook.png"
                                            alt="" width="50" height="50">   
                                    </a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-secondary mt-2" (click)="back()">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>